<div class="container">
  <div class="row">

    <!--ジャンル検索-->
    <div class="col-2">
      <%= render 'admin/genres/genre', genres: @genres %>
    </div>

    <div class="col-10">
      <h1>配送先一覧</h1>
        <!--配送先追加機能-->
        <div class="address_new">
          <%= link_to new_admin_address_path do %>
            <button type="button" class="btn btn page-link text-dark d-inline-block">配送先追加</button>
          <% end %>
        </div>

        <!--配送先一覧-->
        <div class="address_list">
          <%= render 'admin/addresses/index', addresses: @addresses %>
        </div>
    </div>
  </div>
</div>