<!--配送状況-->
<div class="not_employee_work_status">
  <% if work.status == true %>
    <strong style="color: red;" >配送未達</strong>
  <% else %>
    <strong style="color: green;" >配送完了</strong>
  <% end %>
</div>
