
  <div id="comment_list">
      <% work.work_comments.each do |work_comment| %>
        <table class="table_comment">
          <tr>
            <td><%= work_comment.employee.employee_name %></td>
            <td><%= work_comment.body %></td>
            <td><%= l work_comment.created_at, format: :time %></td>
            <td>
              <% if work_comment.employee == current_employee %>
                <%= link_to "削除", work_work_comment_path(work_comment.work.id, work_comment.id), method: :delete, remote:true, data: {"turbolinks" => false}, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger btn-sm" %>
              <% end %>
            </td>
          </tr>
        </table>
      <% end %>
  </div>
