<% genres.each do |genre| %>
  <table>
    <tr>
      <td>
        <%= link_to admin_genre_path(genre.id) do %>
          <%= genre.name %>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>