<!--ジャンル検索-->
<div class="genre_search">
  <% genres.each do |genre| %>
    <table class="table table-borderless table-sm table-hover">
      <tr>
        <td>
          <%= link_to admin_genre_path(genre.id), style: "text-decoration: none;" do %>
            <div style="color: black;"><%= genre.name %></div>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>
</div>