<div class="container">
  <div class="row">

    <!--ジャンル検索-->
    <div class="col-2">
      <%= render 'public/genres/genre', genres: @genres %>
    </div>

    <div class="col-10">
      <h1>配送先一覧</h1>
        <!--配送先一覧-->
        <div class="address_list">
          <%= render 'public/addresses/index', addresses: @addresses %>
        </div>
    </div>
  </div>
</div>