<!--配送状況-->
<div class="work_status">
  <% if  work.status %>
    <%= link_to admin_works_status_path(work.id), method: :patch, style: "text-decoration: none;" do %>
      <strong style="color: red;" >配送未達</strong>
    <% end %>

  <% else %>
    <%= link_to admin_works_status_path(work.id), method: :patch, style: "text-decoration: none;" do %>
      <strong style="color: green;" >配送完了</strong>
    <% end %>
  <% end %>
</div>