<h1>YDOMS</h1>

<p><%= link_to "ゲストログイン（閲覧用）", employees_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %></p>

<p><%= link_to 'ログイン',new_employee_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %></p>

<p><%= link_to '新規登録',new_employee_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %></p>

<p><%= link_to '管理者はこちら',new_admin_session_path %></p>