<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render 'public/genres/genre', genres: @genres %>
    </div>

    <div class="col-10">
      <h1>商品一覧</h1>
        <div class="item_list">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>商品名</th>
              </tr>
            </thead>
            <tbody>
              <% @items.each do |item| %>
                <tr>
                  <td><%= item.name %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>